.constructions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6F8F9;
  padding: 40px;
}
.constructions__text {
  display: flex;
  align-items: center;
  color: $black;
  font-size: 18px;
  line-height: 32px;
  margin-right: 20px;
  margin: 0;
}

.constructions__text::before {
  content: "";
  display: block;
  min-width: 38px;
  height: 36px;
  background-image: url("../img/constructions-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 27px;
}

@media only screen and (max-width: 1160px) {

  .constructions {
    flex-direction: column;
    justify-content: center;
  }
  .constructions__text {
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
  .constructions__text::before {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 400px) {

  .constructions__text {
    font-size: 24px;
    line-height: 30px;
  }
  .constructions__text {
    font-size: 16px;
    line-height: 24px;
  }
}
