
.delivery-item{
  position: relative;
}

.delivery-item::before {
  position: absolute;
  top: 10px;
  left: -50px;
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: -15px;
}

.delivery-item--concrete::before {
  background-image: url("../img/concrete.svg");
}

.delivery-item--wasteremoval::before {
  background-image: url("../img/wasteremoval.svg");
}

.delivery-item--formwork::before {
  background-image: url("../img/Formwork.svg");
}

.delivery-item--precasts::before {
  background-image: url("../img/Precasts.svg");
}

.delivery-item--facades::before {
  background-image: url("../img/Facades.svg");
}

.delivery-item--fit-out::before {
  background-image: url("../img/Fit-out.svg");
}

.delivery-item--scaffolding::before {
  background-image: url("../img/Scaffolding.svg");
}

.delivery-item--frame::before {
  background-image: url("../img/Frame.svg");
}

.delivery-item--mep::before {
  background-image: url("../img/MEP.svg");
}

.delivery-item__title::before {
  color: $black;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.delivery-item__text {
  font-size: 15px;
  color: $grey;
  line-height: 24px;
  margin: 0;
}

@media only screen and (max-width: 768px) {

  .delivery-item::before {
    top: -40px;
    left: 52%;
    transform: translateX(-50%);
  }

  .delivery-item__title {
    text-align: center;
  }

  .delivery-item__text {
    text-align: center;
  }
}