.features {
  background-color: $black;
  color: #fff;
  padding: 143px 0 118px 0;
  margin-bottom: 143px;
}

@media only screen and (max-width: 331px) {

  .features__buttons {
    display: flex;
    flex-direction: column;
  }
  .features {
    margin-bottom: 100px;
  }
}