.features {
  background-color: $black;
  color: #fff;
  padding: 143px 0 118px 0;
}

@media only screen and (max-width: 331px) {

  .features__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 0 ;
    margin-left: auto;
    margin-right: auto;
  }
}