.hero {
  padding: 74px 0;
  display: flex;
  flex-direction: column;
}
.hero__title {
  max-width: 900px;
  font-size: 48px;
  line-height: 64px;
  color: $black;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  margin-bottom: 30px;
}

.hero__buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 0 ;
  margin-bottom: 88px;
  margin-left: auto;
  margin-right: auto;
}

.hero__img{
  height: 422px;
  max-width: 1040px;
  background-image: url("../img/hero-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 150px 0;
  }
}

@media only screen and (max-width: 400px) {

  .hero__title {
    max-width: 100%;
    font-size: 24px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 323px) {

  .hero__buttons {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 280px) {

  .hero__title {
    max-width: 100%;
    font-size: 20px;
    line-height: 26px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

.optimize__container {
  background-image: url("../img/hero-bg@2x.png");
  }
}