.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav__item {
  margin-right: 22px;
}

.nav__link {
  text-decoration: none;
  color: $grey;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.nav__link--active {
  color: #036FC7;
}

.nav__link:hover {
  color: #036FC7;
}


@media only screen and (max-width: 768px) {

  .site-header__open .nav__list {
    display: block;
    position: absolute;
    left: 0;
    top: 95px;
    background-color: rgba(255, 254, 254, .9);
    width: 100%;
    height: 100%;
    padding: 100px 0  0 50px;
    animation: toggler-menu .5s ease forwards;
    position: fixed;
    left: 0;
    top: 0%;
  }
  .site-header__open .nav__link {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}

@keyframes toggler-menu {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}
