.transaction {
  margin-bottom: 100px ;
}

.transaction__container {
  display: flex;
}

.transaction__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {

  .transaction__container {
    flex-direction: column;
  }

  .transaction__buttons {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 329px) {

  .transaction__buttons {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    text-align: center;
  }
}